@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i    ,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
  font-family: "Open Sans", serif;
  background-color: #fccf9c;
}

.wrapper {
  background: linear-gradient(to right, #fcc255, #fcf8ed);
  height: 100vh;
  display: flex;
  padding-top: 250px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.setting {

}
